# Vs Code
.vscode

# Firebase
.firebase/

# Public
public/github-icon.svg

# Helper Scripts
scripts/add_id.py

# Wiki
aplikacija.wiki/

# Experiments
experiments/scrape/*
experiments/pdf/*

# Scrape
!experiments/scrape/programi.js
!experiments/scrape/package.json

# PDF - BODOVI
!experiments/pdf/bodovi.js
!experiments/pdf/bodovi.html
!experiments/pdf/Bodovni-pragovi-2024.pdf
!expriments/pdf/package.json
!experiments/pdf/bodovi.json
!experiments/pdf/global.css