body { 
    background: #ECEFF1; 
    color: rgba(0,0,0,0.87); 
    font-family: Roboto, Helvetica, Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}

h1 {
    font-size: 2em;
    font-weight: 300;
    color: rgba(0,0,0,0.6); 
    margin: 16px 0 16px;
}

h2 {
    color: #ffa100; 
    font-weight: bold; 
    font-size: 16px; 
    margin: 0 0 8px; 
}

p {
    line-height: 140%;
    margin: 16px 0 24px; 
    font-size: 14px;
}

a {
    display: block; 
    text-align: center; 
    background: #039be5; 
    text-transform: uppercase; 
    text-decoration: none; 
    color: white; 
    padding: 16px; 
    border-radius: 4px;
}

#load {
    color: rgba(0,0,0,0.4); 
    text-align: center; 
    font-size: 13px;
}

@media (max-width: 600px) {
    body { 
        border-top: 16px solid #ffa100; 
    }
}

.hidden { 
    display: none !important
}

.default {
    all: revert;
}