input {
    width: 200px;
}

.methods-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Adds consistent spacing between buttons */
}

.methods-container h2 {
    margin-bottom: 20px;
}

.form-container {
    max-width: 400px;
    margin: auto;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 0% 5% 5% 5%;
    border-radius: 5%;
}

#form-header {
    margin: 5% 0% 5% 0%;
    border-bottom: 1px solid #0056b3;
}

#email-form {
    margin-bottom: 3%;
}

#email-form button[type="submit"] {
    margin-top: 10px;
}

#email-form div label {
    display: inline-block;
    width: 65px;
}

form#names-form.auth-form div label {
    display: inline-block;
    width: 85px;
}

.method-btn {
    padding: 1.5%;
    background-color: #00aeb5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    width: 200px; 
    text-align: center;
    transition: background-color 0.3s;
}

.method-btn:hover {
    background-color: #006d7c;
}

.back-btn {
    float: right;
}