body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;   
    margin: 0;
    font-family: "Catamaran";
    background-color: #fffbf5;
    color: #2f2501;
}

.methods-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden { 
    display: none !important
}

h2 {
  margin: 0;
}

.header {
  background-color: #124559;
  display: flex;
  justify-content: space-between;
  padding: 0 0.8em;
  color: #def7f4;
}

.menu {
  margin: 0;
  padding: 0 0;
  align-content: center;
}

.infoPanel {
  background-color: #88efe3;
  padding: 24px;
  text-align: center;
}

.pfp {
  background-color: red;
  border-radius: 20em;
  height: 240px;
  width: 240px;
  position: relative;
  margin: 0 auto;
}

.pfp p {
  margin: 0;
  color: white;
  position: absolute;
  font-size: 6.7em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

ul.noBullets {
  list-style-type: none;
  padding: 0;
  text-align: left;
  display: inline-grid;
  align-items: center;
}
ul button {
  font-size: 1.6em;
  margin: 0.4em;
}

.dirInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2.4em;
  text-align: center;
  gap: 2em;
}

.dirOpt {
  padding: 2% 5%;
  flex: 50%;
  background-color: lightred;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.19);
}

.dirIdea {
  padding: 2% 5%;
  flex: 50%;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.19);
}

.pick {
  font-size: 2.4em;
  font-weight: 1000;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .dirInfo {
    flex-direction: column;
  }
}
