#Sastavnice {
    max-width: 20rem;
    overflow: scroll;
    text-overflow: ellipsis;
}

#Sastavnice option {
    max-width: 300px;
    width: 100px;
    height: 100px;
    overflow: scroll;
    text-overflow: ellipsis;
    white-space: wrap;
}

#programi-table table, th, td {
    border: 1px solid;
}

.next-btn {
    float: right;
}

.previous-btn {
    float: left;
}

#widget-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    z-index: 999;
}

#widget-container iframe {
    width: 800px;
    height: 800px;
    z-index: 999;
}