ul {
    list-style: none;
}

#search-btn-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}

#search-btn {
    width: 100%;
}



#close-btn {
    float: right;
}