ul {
    list-style: none;
}

#search-btn-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}

#search-btn {
    width: 100%;
}

div.previous-btn.next-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button.next-btn {
    width: 20%;
    min-width: 80px;
}

button.previous-btn {
    width: 20%;
    min-width: 80px;
}

#page-number-container {
    margin-top: 10px;
}

#widget-container {
    display: flex;
    flex-direction: column;
}

#close-btn {
    width: 100%;
    margin-top: 5px;
}