body { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.methods-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden { 
    display: none !important
}